<div class="kanban-tasklist-taskpanel">
    <h6><a href="{% url 'task-detail' pk=task.uuid %}">{{ task.title|slice:":45" }}</a></h6>
    <p>
        <small>{{ task.date_created }} | {{ task.author }}</small> <br>

        <small>
            {% if task.description %}
                {{ task.description|slice:":120" }}
                {% if task.description|length > 120%} ... {% endif %}
            {% else %}
                - ...
            {% endif %}
        </small>
    </p>
    <small>
        <a href="{% url 'task-action-decrease_status' pk=task.uuid %}"><</a>
        <a href="{% url 'task-action-increase_status' pk=task.uuid %}">></a>
        <a href="{% url 'task-action-max_priority' pk=task.uuid%}">Top</a>
        <a href="{% url 'task-action-min_priority' pk=task.uuid%}">Bottom</a>
        <a href="{% url 'task-action-increase_priority' pk=task.uuid %}">+</a>
        <a href="{% url 'task-action-decrease_priority' pk=task.uuid %}">-</a>
        <a href="{% url 'task-edit' pk=task.uuid %}">Edit</a>
    </small>
    <hr>
</div>