{% extends 'kanban/kanban_base.html' %}



{% block title %} Kanban Board {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <h1>Django Kanban Board</h1>
        <a href="{% url 'task-add' %}">Add Task</a>
    </div>


    <div class="row">
        {% include 'kanban/index_task_list.html' with task_list=TODO_list title='Tasks To Do'%}
        {% include 'kanban/index_task_list.html' with task_list=PROG_list title='Tasks In Production' %}
        {% include 'kanban/index_task_list.html' with task_list=TEST_list title='Tasks In Testing' %}
        {% include 'kanban/index_task_list.html' with task_list=DONE_list title='Tasks Finished' %}
    </div>
</div>

{% endblock %}